# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# Gradle:
.idea/gradle.xml
.idea/libraries

# IntelliJ project files
.idea
*.iml
out
gen

/node_modules
.DS_Store